crypto isakmp policy {{ item.seq }}
 encr {{ item.isakmp_encr }}
 authentication {{ item.isakmp_auth }}
 group {{ item.isakmp_group | default(2) }}

crypto isakmp key {{ item.isakmp_key }} address {{ item.peer_ip }}

crypto ipsec transform-set {{ item.tunnel_name }}_transform {{ item.transform_encryption }} {{ item.transform_auth }}
 mode {{ item.tunnel | default('tunnel') }}

crypto map {{ crypto_map | default('ANSIBLE_CRYPTO_MAP') }} local-address {{ crypto_map_source_interface }}
crypto map {{ crypto_map | default('ANSIBLE_CRYPTO_MAP') }} {{ item.seq }} ipsec-isakmp
 description {{ item.tunnel_name }}
 set peer {{ item.peer_ip }}
 set transform-set {{ item.tunnel_name }}_transform
 match address {{ item.tunnel_name }}_crypto_acl


ip access-list extended {{ item.tunnel_name}}_crypto_acl
  {% for l in item.acl_lines %}
  {{ l }}
  {% endfor %}

interface {{ crypto_map_interface }}
  crypto map {{ crypto_map }}
